@media all and (min-width: 800px)
{
body {
	background-color: black;
}

img {
	width: 100px;
	height: 100px;
}

#ul1 {
		text-align: left;
	border:solid 2px;
width: 420px;
	word-spacing: 10px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	float: left;
}
#ul2 {

			text-align: left;
	border:solid 2px;
width: 420px;
	word-spacing: 10px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	float: left;
}
.navbar {
	width: 600px
}

.slide {
	width: 600px;
	height: 600px;
}
.d-block {
	width: 600px;
	height: 400px;
}
.navbar a {
	color:white;
	font-size: 15px;

}
.navbar a:hover {

	color: white;
}
.whatsapp {
	float: left;
	height: 40px;
	width: 40px;
}
.socialmedia {
	width: 600px;
	float: left;
}

#pmain {
	width: 300px
}
.section1 {
	width: 600px;
}

}

